.tournament{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.table-container{
    width: 80%;
    margin: 2rem auto;
    overflow-x: auto;
}

.game-table{
    margin: 0 auto;
    border: 1px solid #ffffff;
}

.table-container th{
    background-color: #ffffff45;
    padding: .75rem;
}

.table-container td{
    background-color: #ffffff15;
    padding: .75rem;
}
