.login-container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: #272F37;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.login-form{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
}

.input-box{
    position: relative;
    margin-bottom: 2.5rem;
}

.login-inputs {
    width: 95%;

}

.login__input {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    border: 1px solid #7e7d7d;
    outline: none;
    padding: 0.25rem 0.5rem 0.5rem 0;
    border-radius: 5px;
    padding: 1rem .5rem;
}

.login__input:focus{
    border: 1px solid #3DA6FB;
}

 .login__label {
    position: absolute;
    left: 0;
    pointer-events: none;
    font-size: 1rem;
    color: #d8e1e7;
    transition: 0.5s;
    padding-top: 3.5rem;
}

.login-inputs .login__input:valid ~ .login__label ,
.login-inputs .login__input:focus ~ .login__label{
    transform: translateX(10px) translateY(-.85rem);
    font-size: .75rem;
    padding: .45rem;
    padding-top: .15rem;
    padding-bottom: .15rem;
    background-color: #3DA6FB;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 5px;
}

.button__login {
    background-color: #3DA6FB;
    cursor: pointer;
    border-width: 0;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    border-radius: 10px;
    gap: 15px;
    font-weight: bold;
    font-size: 1.25rem;
    color: #FFFFFF;
}

.error {
    color: rgba(207, 13, 13, 0.8);
    font-weight: bold;
    font-size: 1rem;
}