.DashboardContent{
    width: 95%;
    margin: auto;
    padding-left: 1rem;
}

.chart_dash{
    margin-bottom: 2rem;
    height: 25rem;
}

.home_row{
    width: 100%;
    flex-direction: row;
    display: flex;
}

.overview_dash{
    width: 30%;
    margin-right: 2%;
    height: 12rem;
}

.details_dash{
    width: 68%;
}
