/*Seccion 1*/
.Help_section1{
    flex-direction: row;
    display: flex;
    padding-top: 5rem;
    padding-bottom: 3rem;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

.Help_text{
    width: 70%;
    padding-right: 2rem;
}

.text{
    width: 80%;
}

.image-help{
    width: 35%;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-help{
    width: 100%;
}

/*Seccion 2*/
.Help_section2{
    margin: 0 auto;
    width: 90%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
}

/*Seccion 3*/
.Help_section3{
    margin: 0 auto;
    width: 90%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;
}