.user-card-container{
    display: flex;
    align-items: center;
    margin-right: 3rem;
    gap: 2rem;
    color: #3DA6FB;
}

.user-card-container__notification{
    cursor: pointer;
    font-size: 2rem;
}

.user-card{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    border-left: 1px solid #94949C;
}

.user-card-photo{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.user-card-photo img{
    width: 100%;
    border-radius: 50%;
}

.user-card-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: #3DA6FB;
    color: #FFFFFF;
    border-radius: 50%;
}

.name-user{
    color:#525252;
    font-weight: 450;
    padding-left: 0.5rem;
}

.sub-menu-wrap{
    position: absolute;
    top: 7.5%;
    right:3.5%;
    width:300px;
}

.sub-menu{
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

.user-info{
    flex-direction: row;
    display: flex;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    padding-left: 1rem;
}

.icon-link{
    width: 1.7rem; 
    height: 1.7rem; 
    background-color: #bebcbc;
    border-radius: 50%;
    padding: 0.3rem; 
    color: #525252;
}

.sub-menu-link:hover .icon-link{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: bold;
    transform: translateX(5px);
}