/*Estilos sección 1 del inicio*/

.Section-1{
    flex-direction: row;
    display: flex;
    padding-top: 4rem;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.text-section1{
    width: 60%;
    padding-top: 2rem;
    padding-right: 1rem;
}

.title {
    text-align: left;
    padding-bottom: 2rem;
}

.text{
    text-align: left;
    padding-bottom: 1.5rem;
}

.image-section1{
    padding-top: 2rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-s1{
    width: 100%;
}

.button1{
    float: left;
}

/*Estilos sección 2 del inicio*/

.Section-2{
    flex-direction: row;
    display: flex;
    padding-top: 3rem;
    width: 90%;
    margin: 0 auto;
}

.text-section2{
    width: 77%;    
}

.image-section2{
    width: 30%;
}

.img-s2{
    width: 95%;
}

.read_more{
    background-color: rgba(214, 225, 231, 0.10);
    border-radius: 10px;
}

.subtitle {
    padding: 1rem;
    padding-bottom: 0rem;
}

.text_readMore{
    margin: 1rem;
    padding-bottom: 1rem;
    color: #D6E1E7;
    font-size:small;
    text-align: left;
    font-weight: lighter;
}

.read-pr-hide{
    color: #3DA6FB;
}


/*Estilos sección 3 del inicio*/

.Section-3{
    flex-direction:column;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5rem;
    padding-top: 4rem;
}

.Container1-2{
    flex-direction:row;
    display: flex;
    padding-top: 2rem;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.Section3_1{
    background-color: rgba(214, 225, 231, 0.10);
    border-radius: 10px;
    width: 38%;
    padding-bottom: 1rem;
}

.Section3_2{
    background-color: rgba(214, 225, 231, 0.10);
    border-radius: 10px;
    width: 58%;
}

.Container3_2{
    flex-direction: row;
    display: flex;
}

.text_section3_2{
    width: 80%;
}
.image-section3_2{
    width: 20%;
}
.img-s3_2{
    width: 100%;
}
.Section3_3{
    background-color: rgba(214, 225, 231, 0.10);
    border-radius: 10px;
    flex-direction:row;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1rem;
}

.Container3_3{
    padding-right: 1.5rem;
    width: 80%;
}

.image-section3_3{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-s3_3{
    width: 100%;
}

.items{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}
