.Symbol{
    top: 1rem; 
    left: 1rem; 
    font-size: 2rem;
    line-height: 3rem;
    color: #D6E1E7;
    font-family: 'Work Sans', sans-serif; 
}

.OverviewPrice{
    padding-top: 1rem;
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    width: 100%; 
    height: 100%;  
}

.Price{
    display: flex; 
    align-items: center; 
    font-size: 1.5rem;
    line-height: 2rem;
    color: #FFF;
}

.Currency{
    margin: 1rem; 
    font-size: 1.5rem;
    line-height: 1.75rem; 
    color: #D6E1E7;
}

.Percent{
    font-size: 1.5rem;
    line-height: 2rem;
}

.textGreen{
    color: green;
}

.textRed{
    color: #EF4444; 
}

@media (min-width: 1280px) { 
    
    .Symbol{
        font-size: 2.5rem;
        line-height: 1.5rem; 
    }

    .Price{
        font-size: 1.5rem;
        line-height: 1.5rem; 
    }
     
    .Currency{
        font-size: 1rem;
        line-height: 0.5rem; 
    }

    .Percent{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}
  
  