.tutorials{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.tutorial {
    flex-direction: column;
    display: flex;
    background-color: rgba(214, 225, 231, 0.10);
    border-radius: 10px;
    width: 24%;
    margin: 5px;
    transition: transform 1s;
    padding-bottom: 2rem;
}

.tutorial a{
    text-decoration: none;
    flex-direction: column;
    display: flex;
}
.tutorial:hover{
    transform: scale(1.05);
}


.image-tutorial{
    width: 30%;
    float: left;
    padding: 1rem;
}

.img-tut{
    width: 100%;
}